[submodule "components/arduino"]
	path = components/arduino
	url = git@github.com:liukiti/arduino-esp32.git
[submodule "components/SX126x-Arduino"]
	path = components/SX126x-Arduino
	url = git@github.com:liukiti/SX126x-Arduino.git
[submodule "components/LIS2DW12"]
	path = components/LIS2DW12
	url = git@github.com:liukiti/LIS2DW12.git
[submodule "libs/AT21CS01"]
	path = libs/AT21CS01
	url = git@github.com:liukiti/ESP32_AT21CS01.git
